* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

header {
    background-color: #776ab2;
    border: 0.5em solid #c8b4ee;
    color: #ffffff;
    padding: 1em;
}

#about {
    padding: 1em;
}

#projects {
    background-color: #fdbbeb;
    border: 0.5em solid #c8b4ee;
    color: #776ab2;
    padding: 1em;
}

footer {
    padding: 1em;
}

/* Colors: https://www.color-hex.com/color-palette/1031202
#c8b4ee Purple
#fdbbeb Bink!
#c1f2f6 Bue
#ffffff White
#776ab2 Porple */